.main-content {
  /* background: silver; */
  margin-top: 100px;
  min-height: calc(100vh - 40px - 1rem);
}

.gi-nav-account {
  color: #fff;
}

.gi-navbar {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background: rgb(43, 35, 175);
  background: linear-gradient(90deg, rgba(43, 35, 175, 1) 0%, rgba(0, 194, 255, 1) 100%);
}

.logo {
  width: 40px;
  max-height: 40px;
}

.logo > img {
  width: 100%;
  height: 100%;
}

.card-img > img {
  max-width: 80%;
}

label {
  font-weight: bold;
}

[type="text"]:disabled {
  border: none;
  background-color: #fff;
  padding-left: 0;
}